@import "tailwindcss";

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

@theme {
    --color-primary-300: hsl(212, 45%, 89%);
    --color-primary-500: hsl(216, 15%, 48%);
    --color-primary-900: hsl(218, 44%, 22%);
}

body {
    width: 100%;
    @apply bg-primary-300 m-0 p-0;
    font-family: "Outfit", monospace;
}